body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }


img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

div { position: absolute; }

#content-container { display: table; position: relative;  margin-left: auto; margin-right: auto;  }

#content-container > div{ position: relative; top:inherit; }
#page_register_ek1 {
	top: 0px;
	left: 0px;
	width: 1520px;
	height: 1080px;
	overflow:hidden;
}

#_bg__register_ek2 {
	top: 0px;
	left: 0px;
	width: 1520px;
	height: 1080px;
	background:rgba(255,255,255,255);
}


#path_8 {
	top: 51px;
	left: 195px;
	width: 521.78564453125px;
	height: 674.74127197266px;
}


#path_9 {
	top: 574px;
	left: 315px;
	width: 281.78564453125px;
	height: 434.74127197266px;
}


#path_7 {
	top: 147px;
	left: 99px;
	width: 1289.9411621094px;
	height: 915.513671875px;
}


#rectangle_22 {
	top: 236px;
	left: 314px;
	width: 283px;
	height: 684px;
	background:rgba(255,255,255,0);
	background: -webkit-linear-gradient(-45deg , rgba(187,228,253,255) 0%, rgba(79,104,120,255) 100%);
	background: -o-linear-gradient(-45deg , rgba(187,228,253,255) 0%, rgba(79,104,120,255) 100%);
	background: -moz-linear-gradient(-45deg , rgba(187,228,253,255) 0%, rgba(79,104,120,255) 100%);
	background: -ms-linear-gradient(-45deg , rgba(187,228,253,255) 0%, rgba(79,104,120,255) 100%);
	background: linear-gradient(-45deg , rgba(187,228,253,255) 0%, rgba(79,104,120,255) 100%);
}


#sign_in {
	top: 511px;
	left: 227px;
	width: 61px;
	height: 28px;
	font-family: Swis721 Cn BT;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color:#dddddd;
}


#register_ek3 {
	top: 621px;
	left: 220px;
	width: 77px;
	height: 29px;
	font-family: Swis721 Cn BT;
	font-size: 19px;
	font-weight: bold;
	text-align: center;
	color:#037ac0;
}

#group_15 {
	top: 253px;
	left: 686px;
	width: 440px;
	height: 634px;
}

#rectangle_5 {
	top: 576px;
	left: 0px;
	width: 440px;
	height: 58px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background:rgba(255,255,255,0);
	background: -webkit-linear-gradient(-180deg , rgba(91,165,213,255) 0%, rgba(57,108,141,255) 100%);
	background: -o-linear-gradient(-180deg , rgba(91,165,213,255) 0%, rgba(57,108,141,255) 100%);
	background: -moz-linear-gradient(-180deg , rgba(91,165,213,255) 0%, rgba(57,108,141,255) 100%);
	background: -ms-linear-gradient(-180deg , rgba(91,165,213,255) 0%, rgba(57,108,141,255) 100%);
	background: linear-gradient(-180deg , rgba(91,165,213,255) 0%, rgba(57,108,141,255) 100%);
}


#register_ek4 {
	top: 0px;
	left: 0px;
	width: 104px;
	height: 39px;
	font-family:Swis721 Cn BT;
	font-size: 26px;
	text-align: left;
	color:#212121;
}


#register_ek5 {
	top: 591px;
	left: 180px;
	width: 77px;
	height: 29px;
	font-family: Swis721 Cn BT;
	font-size: 19px;
	font-weight: bold;
	text-align: center;
	color:#ffffff;
}


#email_address {
	top: 197px;
	left: 0px;
	width: 128px;
	height: 29px;
	font-family: Swis721 Cn BT;
	font-size: 19px;
	font-weight: bold;
	text-align: left;
	color:#212121;
}


#password {
	top: 317px;
	left: 0px;
	width: 89px;
	height: 29px;
	font-family: Swis721 Cn BT;
	font-size: 19px;
	font-weight: bold;
	text-align: left;
	color:#212121;
}

#group_4 {
	top: 69px;
	left: 0px;
	width: 440px;
	height: 60px;
}
#group_3 {
	top: 0px;
	left: 0px;
	width: 440px;
	height: 60px;
}

#rectangle_6 {
	top: 0px;
	left: 0px;
	width: 440px;
	height: 60px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-ms-box-shadow:0px 2px 5px 1px rgba(0,0,0,0.26);
	-o-box-shadow:0px 2px 5px 1px rgba(0,0,0,0.26);
	-webkit-box-shadow:0px 2px 5px 1px rgba(0,0,0,0.26);
	-moz-box-shadow:0px 2px 5px 1px rgba(0,0,0,0.26);
	box-shadow:0px 2px 5px 1px rgba(0,0,0,0.26);
	background:rgba(255,255,255,255);
}


#sign_up_with_google {
	top: 17px;
	left: 127px;
	width: 177px;
	height: 29px;
	font-family: Swis721 Cn BT;
	font-size: 19px;
	font-weight: bold;
	text-align: center;
	color:#212121;
}

#google__g__logo {
	top: 19px;
	left: 18px;
	width: 21.923034667969px;
	height: 22.365509033203px;
}

#path_2 {
	top: 9px;
	left: 11px;
	width: 10.740661621094px;
	height: 10.498260498047px;
}


#path_3 {
	top: 13px;
	left: 1px;
	width: 17.4052734375px;
	height: 9.0395812988281px;
}


#path_4 {
	top: 6px;
	left: 0px;
	width: 4.9039916992188px;
	height: 10.042144775391px;
}


#path_5 {
	top: -0px;
	left: 1px;
	width: 17.475158691406px;
	height: 9.0444641113281px;
}


#or {
	top: 151px;
	left: 209px;
	width: 20px;
	height: 26px;
	font-family: Swis721 Cn BT;
	font-size: 17px;
	text-align: left;
	color:#e0e0e0;
}


#line_1 {
	top: 165px;
	left: 0px;
	width: 191px;
	height: 1px;
}


#line_2 {
	top: 165px;
	left: 249px;
	width: 191px;
	height: 1px;
}
#rectangle_5:hover{
	background:#4D9FCE;	
}
#register_ek5:hover{
	color:skyblue;	
}
#re_password {
	top: 436px;
	left: 0px;
	width: 119px;
	height: 29px;
	font-family: Swis721 Cn BT;
	font-size: 19px;
	font-weight: bold;
	text-align: left;
	color:#212121;
}
#lenden_logo {
	top: 450px;
	left: 331px;
	width: 250px;
	height: 250px;
}


#rectangle_24 {
	top: 472px;
	left: 204px;
	width: 3px;
	height: 100px;
	background:rgba(223,223,223,255);
}


#rectangle_25 {
	top: 582px;
	left: 204px;
	width: 3px;
	height: 100px;
	background:rgba(3,122,192,255);
}
input[type=text], input[type=password] {
  width: 440px;
  padding: 12px 20px;
  margin: 8px 0;
  font-family: Swis721 BT;
  font-size: 19px;
  display: inline-block;
  box-sizing: border-box;
}
.text-line {
    background-color: transparent;
    color: black;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid grey 2px;
    padding: 3px 50px;
}